/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.text-field{
	-fx-prompt-text-fill: #4ebcff;
}

.jfx-combo-box {
	-fx-prompt-text-fill: #4ebcff;
	-fx-font-size: 15;
}

.password-field{
	-fx-prompt-text-fill: #4ebcff;
}

